h1{
    font-size:4vw;
    max-height: 100%;
}

#home{
    background: url('assets/bg.png') no-repeat center center;
    background-size: cover;
    padding: 5%;
    margin: 0px;
}

#edu{
    color: white;
    padding: 0%;
    margin: 0px;
    background-color: #A78B39;
    background-size: cover;
}

#port{
    margin-top: 300px;
    margin-bottom: 50px;
}

#greeting{
    font-size: 3vw;
}

#perkenalan{
    font-size: 2vw;
    padding-right: 8px;
}

.text-nav{
    font-size: 20pt;
}

.card{
    margin-top: 100px;
    border: 0px;
    width: 90%;
}

.my-icons{
    max-width: 100%;
    height: auto;
}

.soc-med{
    background: #A78B39;
    margin-left: inherit;
    margin-right: inherit;
    box-shadow: inset 0px 12px 8px -2px rgba(0, 0, 0, 0.25);
    
}

.img-respond{
    max-width: 100%;
    height: auto;
}

.riwayat{
    margin: 50px;
    margin-top: 150px;
    text-shadow: 2px 2px 8px black;
}



.carousel .item {
    height: 100px;
  }
  
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100px;
}
